
@{
}


<div class="container my-5">

    <div class="row align-items-center">

        <div class="col-md-6 text-start ">
            <h5 style="color:white;">Hola!</h5>
            <h1 class="titulo">Yo soy <br /> <span style="color:floralwhite">Diego Nova</span> </h1>
            <h1 class="titulo" style="color: cornflowerblue">Desarrollador web</h1>
            <div class="contenedor-botones flex-column mt-5">
                <a asp-action="" asp-controller="" class="boton btn m-3">Sobre mi</a>
                <a asp-action="" asp-controller="" class="boton btn m-3">Mis trabajos</a>

            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="/imagenes/foto.jpg" alt="Foto perfil" class=" img-fluid w-50 rounded-5" />
        </div>
    </div>
</div>

<div class="contenedor container-fluid align-items-center my-5 justify-content-center ">

    <div class="row align-items-center justify-content-center">

        <div class="col-md-6 align-items-center d-flex justify-content-center">
            <img src="/imagenes/foto.jpg" alt="Foto perfil" class="img-fluid w-50 rounded-5" />
        </div>

        <div class="col-md-6 p-2">
            <h2 class="titulo">Sobre Mí</h2>
            <p class="text-start p-1 w-75">
                Soy un estudiante en ingeniería de software en la Universidad La Salle, actualmente me encuentro en el 6to ciclo desarrollando
                mis cursos de manera exitosa. Tengo un constante interes por aprender sobre el desarrollo de software, me gusta recibir nuevos retos para poder seguir aprendiendo y poner aprueba mis conocimientos.
            </p>
        </div>

    </div>


</div>