@model IEnumerable<ProyectoDTO>
@{

}

<div class="row m-4">
    

        @foreach (var i in Model)
        {

            <div class="col-sm-6 mb-2">
                <div class="card m-4">
                <img class="card-img-top" src="@i.ImagenURL" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">@i.Titulo</h5>
                        <p class="card-text text-start">@i.Descripcion</p>
                    </div>
                </div>
            </div>
        }
       
    

</div>
